<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="MyFile" fileName="logs/parabond.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="MyFile" level="info"/>
        </Root>
        <Logger name="org.mongodb.driver.*" level="warn"/>
        <Logger name="org.mongodb.driver.protocol.query" level="warn" />
        <Logger name="org.mongodb.driver.protocol.update" level="warn" />
    </Loggers>
</Configuration>